/* @import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@600&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@font-face {
  font-family: "carmine";
  src: url("../assets/fonts/Avalon\ Bold.ttf");
}

@font-face {
  font-family: "carminel";
  src: url(../assets/fonts/Avalon.ttf);
}
body {
  background: #fffc52;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.container > * {
  padding: 1rem;
  flex: 1 100%;
}

.header {
  background: #fffc52;
  margin: auto;
  position: sticky;
  top: 0;
  height: auto;
  width: 80%;
}

#navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  display: flex;

  list-style: none;
  align-items: center;
}

#navbar ul li a {
  margin: 1rem;
  text-decoration: none;
  color: #30122c;
  font-size: 1.5rem;
}

.logo {
  padding: 1rem;
  font-family: carmine;
  font-size: 2rem;
}

.nav-item {
  font-family: Montez;
}

.main:nth-child(2n) {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #fffc52;
  height: auto;
  font-size: 1.5rem;
}

.section {
  margin: 0.2rem 0.2rem;
  height: auto;
  width: auto;
  /* border: 1px solid red; */
}
l-heading {
  height: 80vh;
}
.big-heading {
  font-family: carmine;
  font-size: 7rem;
  padding-left: 1rem;
  margin: 0 0;
}

.semi-heading {
  font-family: carmine;
  padding-left: 1rem;
}
.section1 {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 125vh;
  align-items: center;
}

.lady-image {
  margin: 1rem;
  margin-right: 3rem;
  height: 50vh;
}

.p-detail {
  font-family: carminel;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 2.5rem;
  margin: 2rem;
}

.section3 {
  margin-top: 3rem;
  display: flex;
  height: auto;
  width: 125vh;
  align-items: center;
}
.brain-image {
  margin: 1rem;
  margin-left: 3rem;
  height: 50vh;
}
.aside {
  /* position:sticky;
  right:0; */
  background: #fffc52;
  height: auto;

}
.aside-heading {
  margin: 0;
}

.button {
  
  margin: 0.5rem 0;
  /* border: 1px solid red; */
  height: auto;
  width: 40vh;
}

.aside-content {
  margin: 2rem 0;
  padding: 2rem 0;
  font-family: carminel;
}

.footer {
  margin: auto;
  width:80%;
  background: black;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact {
  height: auto;
}
.foot-heading {
  font-family: carminel;
  color: #fffc52;
}

.foot-heading:hover {
  border-bottom: 2px solid #fffc52;
}
.footer-icon {
  color: #fffc52;
  size: 2rem;
  display: inline;
  margin: 0 1rem;
}
.foot-detail {
  color: #fffc52;
  font-family: carminel;
}

@media all and (min-width: 1000px) {
  .main {
    flex: 3;
  }

  .aside1 {
    order: 1;
  }

  .main {
    order: 1;
  }
  .footer {
    order: 4;
  }
}

@media all and (min-width: 600px) {
  .aside1 {
    flex: 1;
  }
}

@media (max-width: 950px) {
  .big-heading {
    font-size: 5rem;
  }
  #navbar{
    flex-direction: column;
  }
  
  .section1{
    flex-direction: column;
  }
  .section3{
    flex-direction: column-reverse;
  }
}

@media(max-width:600px){
  .footer{
    flex-direction: column;
    
  }
}
